<!-- .blog -->
<div id="blog" class="content_2">
<h1 class="h-bloc">Microblog</h1><br>

<div class="col-md-12">
    <div class="row">

        <!-- Page Blog -->
        <div class="col-md-12" id="blog_page">
            <!-- start Page Blog -->
            <section id="blog-page">

                <!-- Post 1 -->
                <article id="post-1" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-1" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-1.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/blog-2.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-3.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >2022</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> It has been a busy year...</p></div>
                                    </div>
                                </div>

                                <a href="#post-1" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->

                <!-- Post 1 -->
                <article id="post-2" class="blog-article">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                                <li data-target="#carousel-2" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-4.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/blog-5.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-6.jpg" alt="" />
                                                    <div class="carousel-caption">
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>

                                            </div>

                                            <a class="left carousel-control" href="#carousel-1" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>

                                            <a class="right carousel-control" href="#carousel-1" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 post_content">
                                <div class="content post_format_standart">
                                    <div class="top_c ">

                                        <div class="title_content">
                                            <div class="text_content"><a href="#post-1" >2021</a></div>
                                            <div class="clear"></div>
                                        </div>

                                        <div class="blog-content">
                                            <p><i class="fa fa-quote-left"></i> It has been a busy year...</p></div>
                                    </div>
                                </div>

                                <a href="#post-2" class="read_m pull-right">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                            </div>
                        </div>

                    </div>
                </article>
                <!-- End Post 1 -->

            </section>

            <!-- End Page Blog -->


            <!-- Page Blog - Post 1 -->
            <section id="post-1-page" class="content-post" style="display: none">
                <div class="row inner">

                    <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                        <article class="postPage">

                            <div class="col-md-12 post_media">
                                <div class="post-format-icon">
                                    <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                                </div>
                                <div class="media">
                                    <div class="he-wrap tpl2">
                                        <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-2" data-slide-to="1"></li>
                                                <li data-target="#carousel-2" data-slide-to="2"></li>
                                            </ol>

                                            <div class="carousel-inner">

                                                <div class="item active">
                                                    <img src="images/blog/blog-1.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>


                                                <div class="item">
                                                    <img src="images/blog/blog-2.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>

                                                <div class="item">
                                                    <img src="images/blog/blog-3.jpg" alt="">
                                                    <div class="carousel-caption">
                                                        <h4></h4>
                                                        <p></p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="title_content">
                                <div class="text_content">2022</div>
                                <div class="clear"></div>
                            </div>

                            <p class="caps"></p>
                            <br>
                            <p>
<ul>
<li>April 20 - Started trip to Albuquerque for NJSHS at 6AM</li>
<li>April 1 - Accepted to PA Governor's School for the Sciences</li>
<li>March 25 - Qualified for ISEF 2022</li>
<li>March 23 - PRSEF Senior Division in person after two years</li>
<li>March 18 - Won Judge’s Awards and Dean’s List Finalist at GPR</li>
<li>March 17 - Overcame broken rope, loosened screws and loose wire.
<li>March 16 - Start of GPR for FIRST Robotics Competition</li>
<li>March 11 - Unified Robotics competition day at Fox Chapel Area High School</li>
<li>March 10 - Accepted to RSI at MIT</li>
<li>March 8 - First place Engineering/Technology. Qualified for NJSHS 2022</ul>
<li>March 6 - Travelled to Juniata College for PA JSHS</li>
<li>February 28 - JSHS Paper turned in</li>
<li>February 18 - AITC Grant Approved for Unified STEM</li>
<li>February 5 - PJAS is virtual. Presentation slides and 10min recording submitted.</li>
<li>January 25 - Donor's Choose for Unified Robotics Funded by FIRST/Disney ($3258.69) funded.
<li>January 20 - First Unified Robotics class after school</li>
<li>January 13 - Last final. No Keystones this year.</li>
<li>January 18 - Applied for Amazon in the Community (AITC) Grant</li>
<li>January 8 - Start of Rapid React FRC season</li></p>
</ul>


                            <div class="col-md-12 first">
                                <div class="info">
                                    <div>
                                        <span class="tag">#rsi</span>
                                        <span class="tag">#jshs</span>
                                        <span class="tag">#isef</span>

                                    </div>
                                </div>
                        </article>
                    </div>
                    <div class="clear"></div>
                </div>
            </section>
            <!-- End Page Blog - Post 1 -->

        </div>


        <!-- Page Blog - Post 1 -->
        <section id="post-2-page" class="content-post" style="display: none">
            <div class="row inner">

                <div class="col-md-12" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;float: left;background: rgba(255, 255, 255, 0.8);padding-bottom: 15px;padding-top: 15px;">

                    <article class="postPage">

                        <div class="col-md-12 post_media">
                            <div class="post-format-icon">
                                <a href="#" class="item-date"><span class="fa fa-picture-o"></span></a>
                            </div>
                            <div class="media">
                                <div class="he-wrap tpl2">
                                    <div id="carousel-2" class="carousel slide" data-ride="carousel">

                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-2" data-slide-to="1"></li>
                                            <li data-target="#carousel-2" data-slide-to="2"></li>
                                        </ol>

                                        <div class="carousel-inner">

                                            <div class="item active">
                                                <img src="images/blog/blog-4.jpg" alt="">
                                                <div class="carousel-caption">
                                                    <h4></h4>
                                                    <p></p>
                                                </div>
                                            </div>


                                            <div class="item">
                                                <img src="images/blog/blog-5.jpg" alt="">
                                                <div class="carousel-caption">
                                                    <h4></h4>
                                                    <p></p>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <img src="images/blog/blog-6.jpg" alt="">
                                                <div class="carousel-caption">
                                                    <h4></h4>
                                                    <p></p>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class="title_content">
                            <div class="text_content">2021</div>
                            <div class="clear"></div>
                        </div>

                        <p class="caps"></p>
                        <br>
                        <p>
<ul>
  <li>December 20 - COVID-19 Booster</li>
  <li>December 16 - Received equipment donation ($500) from LEGO Foundation for Unified Robotics</li>
  <li>September 27 - Inducted into National Honor Society</li>
  <li>September 17 -  Attended first Site-Based committee meeting</li>
  <li>August 26 - Visited Harvard</li>
  <li>August 25 - Visited MIT</li>
  <li>August 24 - First day of in person school</li>
  <li>August 10 - AP Scholar with Distinction Awarded</li>
  <li>August 6 - Final ETC presentation</li>
  <li>July 12 - Started Apple ETC today</li>
  <li>June 19 - Awards ceremoney for Virtual Open Invitational complete</li>
  <li>June 11 - Virtual Open Invitational Opening Ceremony begins</li>
  <li>June 3 - Last AP Exam done
  <li>May 14 - Plotter and Melody Maker added to MINDSTORMS App - <a href="https://www.facebook.com/legomindstorms/videos/737223770280339">(link)</a></li>
  <li>May 13 - Dean's List Finalist, Innovation Project Semi-Finalist and Game Designer's Award at Upper Ohio Valley Regional.
  <li>May 16 - Virtual ISEF 2022 begins</li>
  <li>April 15 - Virtual NJSH 2022 begins</li>
  <li>March 24 - Virtual PRSEF begins. First Place Math/Computer Science and ISEF Finalist.</li>
  <li>March 14 - First place Math/Computer Science. Qualified for National JSHS</li>
  <li>March 13 - Virtual PA JSHS begins</li>
  <li>February 28 - ISEF Paper complete</li>
  <li>February 27 - JSHS Paper complete</li>
  <li>January 13 - Spike Prime Connect 4 featured on LEGO Education social media <a href="https://fb.watch/cuL2NuEbX-/">(link)<a></li>
  <li>January 9 - FRC Infinite Recharege v.2.0 all virtual season begins
</p>
</ul>

                        <div class="col-md-12 first">
                            <div class="info">
                                <div>
                                    <span class="tag">ETC</span>
                                    <span class="tag">#virtualjshs</span>
                                    <span class="tag">#virtualisef</span>

                                </div>
                            </div>
                    </article>
                </div>
                <div class="clear"></div>
            </div>
        </section>
        <!-- End Page Blog - Post 1 -->

    </div>


        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title h3_modal" style="color: #fff !important;">FlexyVcard - Responsive Vcard Template</h3>
                    </div>
                    <div class="modal-body">
                        <p>FlexyVcard is an impressive and professional online vcard, a beautiful portfolio with sliding effect, resume and contact information with Google map.</p>
                        <p>It’s simple! Just download and install in a few minutes, you can show your online card to your friend, customer or employer in an interview by phone or tablet. Because FlexyVcard is a responsive template, you can view your website on pc as well as handheld devices. You can also link to your social profiles, display your portfolio in many media format such as image, youtube video, flash...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
                                            </div>
                                            <!-- End .blog -->
