<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume Highlights</h1>

<div class="row">


     <!-- .resume-full-->
    <div class="col-md-12">
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Team Member <span class="duration"><i class="fa fa-calendar color"></i> 2021</span></h5>
                <h6><span class="fa fa-briefcase"></span> Apple Inc.</h6>
                <p>Selected as one of thirty high school students globally for a 4-week Engineering Technology program at Apple Headquarters.</p><br />
            </li>
            <li>
                <h5>Product Developer <span class="duration"><i class="fa fa-calendar color"></i> 2016-current</span></h5>
                <h6><span class="fa fa-briefcase"></span> The LEGO Group</h6>
                <p>Alpha and beta-tested six products and created two robot designs included in official MINDSTORMS product App.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>

        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Student <span class="duration"><i class="fa fa-calendar color"></i> 2019-2023</span></h5>
                <h6><span class="fa fa-book"></span>Fox Chapel Area High School</h6>
                <p>Advanced Courses:<br> AP Calculus BC, AP Physics C Mech and E&M, AP Statistics, Linear Algebra, AP World History, AP US History, AP Chemistry, AP Spanish, AP English, AP Art History, AP Economics</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>


          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Select Awards</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->

        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Regeneron International Science and Engineering Fair <span class="duration"><i class="fa fa-calendar color"></i> 2021</span></h5>
                <h6><span class="fa fa-trophy"></span> Third Place Grand Award, Sponsor Awards</h6>
                <a href="https://arxiv.org/abs/2108.06838" target="_blank" rel="noopener noreferrer">
                  <p>Enabling High-Accuracy Human Activity Recognition with Fine-Grained Indoor Localization</p>
                </a>
                <br />
            </li>
            <li>
                <h5>FIRST Robotics<span class="duration"> <i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-trophy"></span> World Champion's Award</h6>
                <p>First place out of 40,000 teams world wide</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>

    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>


<!-- client reference -->
<div class="row">
<div class="col-md-12">

<div class="reference clearfix">

         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Publications</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->


        <ul>
            <li class="clearfix">
                <a href="https://arxiv.org/abs/2108.06838" target="_blank" rel="noopener noreferrer">
                  <img src="/images/HAR.png" class="img_reference" width="100" height="100" alt="">
                </a>
                <!--<p>“Name Here”</p> -->
                <br>
                <a href="https://arxiv.org/abs/2108.06838" target="_blank" rel="noopener noreferrer">
                  <span>Enabling High-Accuracy Human Activity Recognition with Fine-Grained Indoor Localization</span>
                </a>
            </li>
            <li class="clearfix">
                <a href="https://arxiv.org/abs/2108.06837" target="_blank" rel="noopener noreferrer">
                  <img src="/images/ALTo.png" class="img_reference" width="100" height="100" alt="">
                </a>
                <!--<p>“Name Here”</p> -->
                <br>
                <a href="https://arxiv.org/abs/2108.06837" target="_blank" rel="noopener noreferrer">
                  <span>ALTo: Ad Hoc High-Accuracy Touch Interaction Using Acoustic Localization</span>
                </a>
            </li>
        </ul>
</div>
</div>


<!-- .resume-right -->
 <div class="col-md-6 resume-left">
<!--
     <div class="title_content" style="float: none;">
         <div class="text_content">CAD Skills</div>
         <div class="clear"></div>
     </div>

     <div class="skills">
         <div class="skillbar clearfix" data-percent="95%">
             <div class="skillbar-title"><span>SolidWorks</span></div>
             <div class="skillbar-bar"></div>
             <div class="skill-bar-percent">95%</div>
         </div>


         <div class="skillbar clearfix" data-percent="90%">
             <div class="skillbar-title"><span>OnShape</span></div>
             <div class="skillbar-bar"></div>
             <div class="skill-bar-percent">90%</div>
         </div>

         <div class="skillbar clearfix" data-percent="80%">
             <div class="skillbar-title"><span>AutoDesk</span></div>
             <div class="skillbar-bar"></div>
             <div class="skill-bar-percent">80%</div>
         </div>

     </div>
 -->

     <!-- .title_content -->
     <div class="title_content" style="float: none;">
         <div class="text_content">My Resume</div>
         <div class="clear"></div>
     </div>
     <!-- /.title_content -->
     <h5>Contact me for full resume.</h5>
     <!-- .download_resume -->
     <a class="download" style="margin:0;float: left;" href="mailto:arvind@seshan.org">
         <span data-hover="Contact Me"><i class="glyphicon glyphicon-envelope"></i> Contact Me</span>
     </a>
     <!-- /.download_resume -->

 </div>
  <!-- /.resume-right -->


<div style="clear: both"></div>
</div>

</div>
<!-- End .resume -->
