<!-- .portfolio -->
<div id="portfolio" class="content_2">

    <!-- .title -->
    <h1 class="h-bloc">Portfolio - Sample Work</h1>

    <!-- .container-portfolio -->
    <div class="container-portfolio">

        <!-- #filters -->
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter="catsf catrobots catgames catapps">All</span></li>
            <li><span class="filter" data-filter="catsf">Science Fair</span></li>
            <li><span class="filter" data-filter="catgames">Games</span></li>
            <li><span class="filter" data-filter="catapps">Apps</span></li>
            <li><span class="filter" data-filter="catrobots">Robots</span></li>
            <li><span class="filter" data-filter="catevents">Events</span></li>
            <li><span class="filter" data-filter="cattutorials">Tutorials</span></li>
        </ul>
        <!-- /#filters -->

        <!-- #portfoliolist -->
        <div id="portfoliolist">

            <!-- .portfolio -->
            <div class="portfolio catevents" data-cat="catevents">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/unified.jpg" rel="portfolio" title="Founded Unifed Robotics teams at FCASD.">
                        <img src="images/portfolio/unified.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Unified Robotics</a>
                                <span class="text-category">Events </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catevents" data-cat="catevents">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/voi.png" rel="portfolio" title="First-ever Virtual FIRST LEGO League Challenge and Explore tournaments for 68 teams in 2020 and 110 in 2021.">
                        <img src="images/portfolio/voi.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Virtual Open Invitational</a>
                                <span class="text-category">Events </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catevents" data-cat="catevents">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/kickoff.jpg" rel="portfolio" title="Ran the annual FIRST LEGO League Kickoff since 2014.">
                        <img src="images/portfolio/kickoff.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">FIRST LEGO League Challenge Kickoff</a>
                                <span class="text-category">Events </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catevents" data-cat="catevents">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/qualifier.jpg" rel="portfolio" title="Ran Lawrenceville FIRST LEGO League Qualifiers in 2018 and 2019 (pre-COVID).">
                        <img src="images/portfolio/qualifier.jpg" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Qualifier Tournament</a>
                                <span class="text-category">Events </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->




            <!-- .portfolio -->
            <div class="portfolio cattutorials" data-cat="cattutorials">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/primelessons.png" rel="portfolio" title="Python and Scratch open-source tutorials for SPIKE Prime users.">
                        <img src="images/portfolio/primelessons.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">SPIKE Prime Lessons</a>
                                <span class="text-category">Tutorials</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio cattutorials" data-cat="cattutorials">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/ev3lessons.png" rel="portfolio" title="Programming and mechanical design open-source tutorials for MINDSTORMS EV3 users.">
                        <img src="images/portfolio/ev3lessons.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">MINDSTORMS EV3 Lessons</a>
                                <span class="text-category">Tutorials</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio cattutorials" data-cat="cattutorials">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/flltutorials.png" rel="portfolio" title="Open-source tutorials students and coaches participating in FIRST LEGO League.">
                        <img src="images/portfolio/flltutorials.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">FIRST LEGO League</a>
                                <span class="text-category">Tutorials</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catsf" data-cat="catsf">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/isef2021.png" rel="portfolio" title="Grand Award Third Place and Special Awards at Regeneron ISEF 2021">
                        <img src="images/portfolio/isef2021.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Human Activity Recognition</a>
                                <span class="text-category">Science Fair </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catsf" data-cat="catsf">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/isef2022.png" rel="portfolio" title="Finalist at Regeneron ISEF">
                        <img src="images/portfolio/isef2022.png" alt="Visual Infography" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Dynamic Time Warping</a>
                                <span class="text-category">Science Fair </span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catgames" data-cat="catgames">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/axolotl.png" title="A fun game programmed in Python uses vision tracking and machine learning." rel="portfolio">
                        <img src="images/portfolio/axolotl.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Magic Axolotl Academy</a>
                                <span class="text-category">Game</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots catgames" data-cat="catrobots catgames">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/rockpaper.jpg" title="Play Rock-Paper-Scissors against a MINDSTORMS Robot Inventor." rel="portfolio">
                        <img src="images/portfolio/rockpaper.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Rock Paper Scissors</a>
                                <span class="text-category">Game</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots catgames" data-cat="catrobots catgames">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/grabandlift.jpg" title="A fun game in which a player has to find and grab red balls on a field." rel="portfolio">
                        <img src="images/portfolio/grabandlift.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Grab and Lift</a>
                                <span class="text-category">Game</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catsf" data-cat="catsf">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/prsef2020.png" title="Won First Place at PJAS. Not presented elsewhere due to COVID-19." rel="portfolio">

                        <img src="images/portfolio/prsef2020.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Acoustic Touch Localization</a>
                                <span class="text-category">Science Fair</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/plotter.jpg" title="This LEGO-based printer can print a given image, including photographs." rel="portfolio">
                        <img src="images/portfolio/plotter.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Plotter</a>
                                <span class="text-category">LEGO Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/FLLrobot.jpg" title="Build FLL robots that placed 1st in States and top 6 at World Championsips." rel="portfolio">
                        <img src="images/portfolio/FLLrobot.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">FLL Robot</a>
                                <span class="text-category">LEGO Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/trainingbots.jpg" title="Educational robots for FIRST teams and educators to use in training." rel="portfolio">
                        <img src="images/portfolio/tainingbots.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Training Robots</a>
                                <span class="text-category">LEGO Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/melodymaker.jpg" title="This LEGO-based music machine available in the official LEGO MINDSTORMS App." rel="portfolio">
                        <img src="images/portfolio/melodymaker.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Melody Maker</a>
                                <span class="text-category">LEGO Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/holidaycard.jpg" title="Designed for LEGO and featured on Discovery Canada, Gizmodo, and Popular Mechanics." rel="portfolio">
                        <img src="images/portfolio/holidaycard.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Holiday Card Plotter</a>
                                <span class="text-category">LEGO Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->



            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/scarycat.png" title="This was a robot designed for a LEGO Education advertising campaign. I created the storyline as well as the modified robot." rel="portfolio">
                        <img src="images/portfolio/scarycat.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Scary Cat</a>
                                <span class="text-category">LEGO Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots catgames" data-cat="catrobots catgames">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/tictactoe.jpg" rel="portfolio" title="A fun game of tic-tac-toe against a robot. Uses the minimax algorithm to optimize moves.">
                        <img src="images/portfolio/tictactoe.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Tic-Tac-Toe</a>
                                <span class="text-category">LEGO Game</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots catgames" data-cat="catrobots catgames">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/connect4.jpg" title="Play a game against a robot that calculates the optimal next move against you! Featured on LEGO Education Social Media channels." rel="portfolio">
                        <img src="images/portfolio/connect4.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Connect 4</a>
                                <span class="text-category">LEGO Game</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/bobsled.jpg" title="A remix project commemorating the Olympics resets the bobseld after each run." rel="portfolio">
                        <img src="images/portfolio/bobsled.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Bobsled</a>
                                <span class="text-category">LEGO Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <!-- .portfolio -->
            <div class="portfolio catapps" data-cat="catapps">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/scorer.png"  title="Annual scoring tool for FIRST LEGO League teams." rel="portfolio">
                        <img src="images/portfolio/scorer.png" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">FIRST Scoring Tool</a>
                                <span class="text-category">App</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/frc2019bot.jpg" title="FRC Robot from the 2019-20 season. Won Rookie All-Star and ticket to World Championships." rel="portfolio">
                        <img src="images/portfolio/frc2019bot.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">FIRST Robot</a>
                                <span class="text-category">Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/frc2022bot.jpg" title="FRC Robot from the 2022 season. Won Judge's Award." rel="portfolio">
                        <img src="images/portfolio/frc2022bot.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">FIRST Robot</a>
                                <span class="text-category">Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->

            <!-- .portfolio -->
            <div class="portfolio catrobots" data-cat="catrobots">
                <!-- .portfolio-wrapper -->
                <div class="portfolio-wrapper">
                    <a href="images/portfolio/printscan.jpg" title="One of two designs available in the LEGO MINDSTORMS Robot Inventor App as additional models." rel="portfolio">
                        <img src="images/portfolio/printscan.jpg" alt="" />
                        <div class="label">
                            <div class="label-text">
                                <a class="text-title">Print and Scan</a>
                                <span class="text-category">LEGO Robot</span>
                            </div>
                            <div class="label-bg"></div>
                        </div>
                    </a>
                </div>
                <!-- /.portfolio-wrapper -->
            </div>
            <!-- /.portfolio -->


            <div class="clear"></div>

        </div>
        <!-- #portfoliolist -->
    </div>
    <!-- /.container-portfolio -->
</div>
<!-- End .portfolio -->
